<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Insert Studente Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Studente inserito con successo!</h1>
<p th:text="'nome: ' + ${studente.nome}" />
<p th:text="'cognome: ' + ${studente.cognome}" />
<p th:text="'matricola: ' + ${studente.matricola}" />
<p th:text="'email: ' + ${studente.email}" />

<a href="/insertStudente">Aggiungi un altro Studente</a>
<a href="/allStudenti">Torna a Studenti</a>
</body>
</html>